main {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: hsl(var(--background-secondary-dark));
  color: #fff;
  text-align: center;
  height: 81.39px;
}

header h1 {
  margin: 0;
  font-size: 60px;
}


.welcome-message {
  text-align: center;
  padding: 20px;
}

.featured-products {
  padding: 20px;
  text-align: center;
}

.featured-products img{
  max-width: 100%;
  width: 400px;
  height: auto;
  border-radius: 8px 8px 0 0;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.product-card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em;
  position: fixed;
  bottom: 0;
  width: 100%;
}