main {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
  }

  .container {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    width: 300px;
    text-align: center;
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    margin-right: 20px;
    box-sizing: border-box;
  }

  .cart a img{
    height: 65px;
    margin-top: 20px;
    margin-right: 30px;
    width: 65px
  }
x
  .card:hover {
    transform: translateY(-5px);
  }

  .card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
  }

  .card-content {
    padding: 20px;
  }

  .card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .card p {
    color: #555;
    line-height: 1.4;
  }

  .price {
    font-size: 1.25rem;
    color: #e44d26;
    font-weight: bold;
    margin-top: 10px;
  }

  .description {
    margin-top: 10px;
  }

  .add-to-cart {
    background-color: #e44d26;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .add-to-cart:hover {
    background-color: #333;
  }