header{
    background-color: lightgray;
}
fieldset {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 350px;
}

.logo{
    height: 89px;
    width: 218px;
    margin-left: -8px;
    margin-top: -11px;
    margin-bottom: -11px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
    padding:7px;
}

.menuItems {
    list-style: none;
    display: flex;
}

.Menu li, ul{
    position: relative;
    margin: 0 20px;     
    padding: 14px;
    font-size: 17px;
}

.Menu a {
    text-decoration: none;
    color: inherit;

    &:hover {
        border-bottom: 1px transparent;
    }

    color: #000000;
    font-family: Robot Condensed;
    font-size: 19px;
    font-weight: 400;
    transition: all 0.5s ease-in-out;
    position: relative;
    text-transform: uppercase;

    &::before {
        content: attr(data-item);
        transition: 0.5s;
        color: #4112c3 ;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 0;
        overflow: hidden;
    }

    &:hover {
        &::before {
            width: 100%;
            transition: all 0.5s ease-in-out;
        }
    }
}
/*Product Card Css*/
.card { 
    border: 1px solid #C0C0C0;
	border-radius: 25px;
    margin-top: 15px;
	margin-bottom: 20px;
	overflow: hidden; 
	
	/* offset-x | offset-y | blur-radius | color */
	box-shadow: 5px 5px 15px #606060;

    width: 20%;
    flex-basis: auto;
    text-align: center;
    font-family: arial; 
}
.price {
    color: grey;
    font-size: 22px;
}
.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
  
  .card button:hover {
    opacity: 0.7;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/*Cart CSS*/
.cart {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart h2 {
    text-align: center;
    color: #333;
}

.cart-items {
    list-style-type: none;
    padding: 0;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cart-total {
    text-align: right;
    margin-top: 20px;
    font-weight: bold;
}

/*Footer Css*/
footer {
    margin-top: 30px;
    background-color: grey;
    padding: 25px;
}
